<section class="container grid grid-cols-3 gap-5 justify-between">
   <div class="col-span-2">
       {% for repo in repos %}
            <div class="w-full mb-5 border rounded p-3">
                <a href="{{ repo.html_url }}" class="font-medium text-slate-700">{{ repo.name }}</a>
           </div>
       {% endfor %}
   </div>
    <div class="border rounded col-span-1 profile-content p-3">
         <div class="pb-3 border-b border-slate-200">
            <p class="text-slate-500 text-[15px]">Id</p>
            <p class="text-slate-700 text-[16px] font-medium">{{ data.id }}</p>
        </div>
        <div class="mt-5 pb-3 border-b border-slate-200">
            <p class="text-slate-500 text-[15px]">Name-surname</p>
            <p class="text-slate-700 text-[16px] font-medium">{{ data.name }}</p>
        </div>
         <div class="mt-5 pb-3 border-b border-slate-200">
            <p class="text-slate-500 text-[15px]">Type</p>
            <p class="text-slate-700 text-[16px] font-medium">{{ data.type }}</p>
        </div>
         <div class="mt-5 pb-3 border-b border-slate-200">
            <p class="text-slate-500 text-[15px]">Blog</p>
            <a href="{{ data.blog }}" class="text-slate-700 text-[16px] font-medium">{{ data.blog }}</a>
        </div>
         <div class="mt-5 pb-3 border-b border-slate-200">
            <p class="text-slate-500 text-[15px]">Created</p>
            <p class="text-slate-700 text-[16px]  font-medium">{{ data.created_at }}</p>
        </div>
         <div class="mt-5 pb-3 border-b border-slate-200">
            <p class="text-slate-500 text-[15px]">Location</p>
            <p class="text-slate-700 text-[16px]  font-medium">{{ data.location }}</p>
        </div>
         <div class="mt-5 pb-3 border-b border-slate-200">
            <p class="text-slate-500 text-[15px]">Email</p>
            <p class="text-slate-700 text-[16px]  font-medium">{{ data.email }}</p>
        </div>
         <div class="mt-5 pb-3 border-b border-slate-200">
            <p class="text-slate-500 text-[15px]">Company</p>
            <p class="text-slate-700 text-[16px]  font-medium">{{ data.company }}</p>
        </div>
         <div class="mt-5 pb-3">
            <p class="text-slate-500 text-[15px]">Site admin</p>
            <p class="text-slate-700 text-[16px]  font-medium">{{ data.site_admin }}</p>
        </div>
    </div>
</section>